﻿@using Asylum.Api.Controller

<h3>Du Toit's Clinic For The Mentally Disturbed</h3>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/Front.jpg" alt="Front">
        </div>

        <div class="item">
            <img src="~/Content/Images/Room.jpg" alt="Room">
        </div>

        <div class="item">
            <img src="~/Content/Images/Patient.jpg" alt="Patient">
        </div>

        <div class="item">
            <img src="~/Content/Images/Patient2.jpg" alt="Patient">
        </div>

        <div class="item">
            <img src="~/Content/Images/Patient3.jpg" alt="Patient">
        </div>

        <div class="item">
            <img src="~/Content/Images/Patient4.jpg" alt="Patient">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<p>
    The present institution dates from 1891. 
    In 1881, the Colonial Government of the Cape Colony purchased the DuToit's estate with a view to building a reformatory. 
    This never took place but a "lunatic asylum", as it was then called, was established instead to accommodate patients transferred from Robben Island. 
    The island had initially accepted patients to relieve pressure from city hospitals such as the Somerset, but reports of unhealthy conditions, overcrowding, 
    and high suicide rates resulted in the decision to transfer care of patients to the DuToit's site. On 20 February 1891 the first 36 patients were transferred from Robben Island to the DuToit's Asylum. 
    In the first half of the 20th century the institute became formally associated with the Medical School of the University of Cape Town.
    
</p>
<p>Registered Patients :<b>  @Utility.CountPatients()</b></p>
<p>Registered Doctors : <b> @Utility.CountDoctors()</b></p>
<p>Available Accommodation :  <b> @Utility.AccommodationAvailable()</b></p>


