﻿@{
    ViewBag.Title = "Asylum";
}

<div class="jumbotron">    
    <h1>Du Toit's Psychiatric Center &nbsp;<img src="~/Content/Images/Main.jpg" alt="Main" width="100"></h1>
    <p class="lead">Du Toit's center for the mentally ill is the best place for your mother in law.</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Psychopathy</h2>
        <p>
            Psychopathy, sometimes considered synonymous with sociopathy, is traditionally defined as a personality disorder characterized by persistent antisocial behavior, impaired empathy and remorse, and bold, disinhibited, egotistical traits.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Psychopathy">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schizophrenia</h2>
        <p>Schizophrenia is a mental disorder characterized by abnormal social behavior and failure to understand what is real. Common symptoms include false beliefs, unclear or confused thinking, hearing voices that others do not hear, reduced social engagement and emotional expression, and a lack of motivation.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Schizophrenia">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delirium</h2>
        <p>An acutely disturbed state of mind characterized by restlessness, illusions, and incoherence, occurring in intoxication, fever, and other disorders</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Delirium">Learn more &raquo;</a></p>
    </div>
</div>